link(href='frameworks/Semantic-UI-1.9.3/dist/semantic.min.css', rel='stylesheet')
script(src='frameworks/jquery.min.js')
script(src='frameworks/Semantic-UI-1.9.3/dist/semantic.min.js')
script(src='frameworks/knockout-3.3.0.js')
script(src='//vk.com/js/api/xd_connection.js?2')

link(href='styles.css' rel='stylesheet')
script(src='questions.js')
script(src='scriptsVK.js')