link(href='frameworks/Semantic-UI-1.9.3/dist/semantic.min.css', rel='stylesheet')
script(src='frameworks/Semantic-UI-1.9.3/dist/semantic.min.js')
script(src='frameworks/knockout-3.3.0.js')

link(href='styles.css' rel='stylesheet')
script(src='srcipts.js')