doctype html
html
    head
        meta(charset='utf-8')
        include includes
        title Тест
    body#body
        br
        br
        include start
        include tests
        include result
        include rating
