include start
include tests
include lang
- var lang = ba

doctype html
html
    head
        meta(charset='utf-8')
        include includes
        title= lang.title
    body
        +start(lang)
        +tests(lang)