doctype html
html
    head
        meta(charset='utf-8')
        include includes
<<<<<<< HEAD
        title Тест
    body(id='body')
        include start
        include tests
=======
        title= lang.title
    body
        +start(lang)
        +tests(lang)
>>>>>>> parent of 276e96b... еще одна попытка...
