- var ru = {}
- ru.title        = 'Тест на уровень знаний башкирского языка'
- ru.howgoodtitle = 'Узнайте, насколько хорошо вы владеете башкирским языком'
- ru.howgoodbody  = 'Дополнительный текст с пояснениями'
- ru.begin        = 'Начать'
- ru.copyright    = 'Copyright'
- ru.bashprojects = 'Башкирские проекты'
- ru.cleverbash   = 'Белемле башкорт'
- ru.dontknow     = 'я не знаю'

- var ba = {}
- ba.title        = 'Тест на уровень знаний башкирского языка'
- ba.howgoodtitle = 'Узнайте, насколько хорошо вы владеете башкирским языком'
- ba.howgoodbody  = 'Дополнительный текст с пояснениями'
- ba.begin        = 'Начать'
- ba.copyright    = 'Copyright'
- ba.bashprojects = 'Башкирские проекты'
- ba.cleverbash   = 'Белемле башҡорт'
- ba.dontknow     = 'я не знаю'

- var qa = []
//- формат: ['вопрос', 'слово вопроса', ['ответ0', 'ответ1', ...], номер_верного_ответа_нумерация_с_нуля]
- qa[0] = ['Выберите правильный перевод', 'уҡымышлы', ['толстый', 'образованный', 'талантливый'], 2]
- qa[1] = ['Выберите правильный перевод', 'хайуан', ['тигр', 'растение', 'животное'], 3]