- var ru = {}
- ru.title        = 'Тест на уровень знаний башкирского языка'
- ru.howgoodtitle = 'Узнайте, насколько хорошо вы владеете башкирским языком'
- ru.howgoodbody  = 'Дополнительный текст с пояснениями'
- ru.begin        = 'Начать'
- ru.copyright    = 'Copyright'
- ru.bashprojects = 'Башкирские проекты'
- ru.cleverbash   = 'Белемле башкорт'
- ru.dontknow     = 'я не знаю'

- var ba = {}