- var ru = {}
- ru.title        = 'Тест на уровень знаний башкирского языка'
- ru.howgoodtitle = 'Узнайте, насколько хорошо вы владеете башкирским языком'
- ru.howgoodbody  = 'Дополнительный текст с пояснениями'
- ru.begin        = 'Начать'
- ru.copyright    = 'Copyright'
- ru.bashprojects = 'Башкирские проекты'
- ru.cleverbash   = 'Белемле башкорт'
- ru.dontknow     = 'я не знаю'

- var ba = {}
- ba.title        = 'Тест на уровень знаний башкирского языка'
- ba.howgoodtitle = 'Узнайте, насколько хорошо вы владеете башкирским языком'
- ba.howgoodbody  = 'Дополнительный текст с пояснениями'
- ba.begin        = 'Начать'
- ba.copyright    = 'Copyright проверка башкирс текста ә ө ҡ ғ ҫ ҙ һ ү ң'
- ba.bashprojects = 'Башҡорт проекттары'
- ba.cleverbash   = 'Белемле башҡорт'
- ba.dontknow     = 'я не знаю'