.ui.page.grid(data-bind!='visible: page()==\'start\'')
    .ui.two.wide.column &nbsp;
    .ui.twelve.wide.column.centeredcontent
        //- урталагы фотохурат
        img.ui.medium.rounded.image(src='temp_image.jpg')
        h1.ui.header Узнайте, насколько хорошо вы владеете башкирским языком
        //-h3.ui.header Дополнительный текст с пояснениями
        .ui.yellow.huge.button(data-bind!='click: page.bind(null, \'tests\')') Начать
        .ui.yellow.huge.button(data-bind!='click: page.bind(null, \'rating\')') Рейтинг
    .ui.two.wide.column &nbsp;
    include bottom_links
span
