.ui.page.grid(data-bind!='visible: page()==\'tests\'')
    .ui.sixteen.wide.column
        br
        .ui.yellow.small.progress#progress
            .bar

    .ui.four.wide.column
        h1(data-bind!="text: (current()+1) + '/' + count()")
    .ui.eight.wide.column.centeredcontent
        img.ui.tiny.circular.image(src='tempimage.png')
        h3(data-bind!='text: currentQuestion().tasktext')
        h1(data-bind!='text: currentQuestion().question')
        div(data-bind='foreach: currentQuestion().variants')
            .fluid.ui.big.button(data-bind='text: $data, click: $root.toAnswer')
            br
        hr
        br
        .fluid.ui.big.button(data-bind!='click: function() { toAnswer(-1); }')
            strong Не знаю
    .ui.four.wide.column &nbsp;
    include bottom_links
span
